<!doctype html>
<html lang="en">
<head th:replace="~{fragments/headerAfterLogin.html::head-general(pageTitle='Edit Profile')}"> </head>
<body>
<header th:replace="~{fragments/headerAfterLogin.html::after-login-header}"></header>

<main class="container">
    <div th:replace="~{fragments/headerAfterLogin.html::userProfile}"></div>
    <h3 style="text-align: center; margin: 50px 0px 50px 0px; color: #333333;">Edit User</h3>
    <section class="container">
        <form th:action="${'/editUser/' + user.getId()}" method="post" style="width: 33%; margin: 0 auto;">
            <div class="input-group m-2">
                <label class="input-group-text" style="width: 450px; padding: 5px; box-shadow: 3px 3px 5px #888888;">Login e-mail:
                    <span th:text="${user.getLoginEmail()}" style="font-weight: bold"></span>
                </label>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Name</label>
                <input name="name" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"
                       th:value="${user.getName()}"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Tax Payer number</label>
                <input name="taxpayerNo" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"
                       th:value="${user.getTaxpayerNo()}"/>
            </div>

            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Tax Payer Type</label>
                <select class="form-control" name="taxpayerType"
                        th:value="${user.getTaxpayerType().getDisplayTypeName()}" style="box-shadow: 3px 3px 5px #888888;">
                    <option value="INDIVIDUAL" th:selected="${user.getTaxpayerType().getDisplayTypeName() == 'Individual or Natural Person'}">Individual or natural person</option>
                    <option value="SELF_EMPLOYED" th:selected="${user.getTaxpayerType().getDisplayTypeName() == 'Self-Employed'}">Self-employed</option>
                    <option value="MICRO_ENTERPRISE" th:selected="${user.getTaxpayerType().getDisplayTypeName() == 'Micro-Enterprise'}">Micro-enterprise</option>
                    <option value="VAT_PAYER" th:selected="${user.getTaxpayerType().getDisplayTypeName() == 'VAT Payer'}">VAT payer</option>
                </select>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Legal address</label>
                <input name="legalAddress" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"
                       th:value="${user.getLegalAddress()}"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Country</label>
                <select class="form-control" name="country" style="box-shadow: 3px 3px 5px #888888;"
                        th:value="${user.getCountry()}">
                    <option value="AUSTRIA"
                            th:selected="${user.getCountry().getDisplayCountryName() == 'Austria'}">Austria</option>
                    <option value="BELGIUM" th:selected="${user.getCountry().getDisplayCountryName() == 'Belgium'}">Belgium</option>
                    <option value="BULGARIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Bulgaria'}">Bulgaria</option>
                    <option value="CROATIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Croatia'}">Croatia</option>
                    <option value="CYPRUS" th:selected="${user.getCountry().getDisplayCountryName() == 'Cyprus'}">Cyprus</option>
                    <option value="CZECHIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Czech Republic'}">Czech Republic</option>
                    <option value="DENMARK" th:selected="${user.getCountry().getDisplayCountryName() == 'Denmark'}">Denmark</option>
                    <option value="ESTONIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Estonia'}">Estonia</option>
                    <option value="FINLAND" th:selected="${user.getCountry().getDisplayCountryName() == 'Finland'}">Finland</option>
                    <option value="FRANCE" th:selected="${user.getCountry().getDisplayCountryName() == 'France'}">France</option>
                    <option value="GERMANY" th:selected="${user.getCountry().getDisplayCountryName() == 'Germany'}">Germany</option>
                    <option value="GREECE" th:selected="${user.getCountry().getDisplayCountryName() == 'Greece'}">Greece</option>
                    <option value="HUNGARY" th:selected="${user.getCountry().getDisplayCountryName() == 'Hungary'}">Hungary</option>
                    <option value="ICELAND" th:selected="${user.getCountry().getDisplayCountryName() == 'Iceland'}">Iceland</option>
                    <option value="IRELAND" th:selected="${user.getCountry().getDisplayCountryName() == 'Ireland'}">Ireland</option>
                    <option value="ITALY" th:selected="${user.getCountry().getDisplayCountryName() == 'Italy'}">Italy</option>
                    <option value="LATVIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Latvia'}">Latvia</option>
                    <option value="LIECHTENSTEIN" th:selected="${user.getCountry().getDisplayCountryName() == 'Liechtenstein'}">Liechtenstein</option>
                    <option value="LITHUANIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Lithuania'}">Lithuania</option>
                    <option value="LUXEMBOURG" th:selected="${user.getCountry().getDisplayCountryName() == 'Luxembourg'}">Luxembourg</option>
                    <option value="MALTA" th:selected="${user.getCountry().getDisplayCountryName() == 'Malta'}">Malta</option>
                    <option value="NETHERLANDS" th:selected="${user.getCountry().getDisplayCountryName() == 'Netherlands'}">Netherlands</option>
                    <option value="NORWAY" th:selected="${user.getCountry().getDisplayCountryName() == 'Norway'}">Norway</option>
                    <option value="POLAND" th:selected="${user.getCountry().getDisplayCountryName() == 'Poland'}">Poland</option>
                    <option value="PORTUGAL" th:selected="${user.getCountry().getDisplayCountryName() == 'Portugal'}">Portugal</option>
                    <option value="ROMANIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Romania'}">Romania</option>
                    <option value="SLOVAKIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Slovakia'}">Slovakia</option>
                    <option value="SLOVENIA" th:selected="${user.getCountry().getDisplayCountryName() == 'Slovenia'}">Slovenia</option>
                    <option value="SPAIN" th:selected="${user.getCountry().getDisplayCountryName() == 'Spain'}">Spain</option>
                    <option value="SWEDEN" th:selected="${user.getCountry().getDisplayCountryName() == 'Sweden'}">Sweden</option>
                </select>
            </div>

            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Bank name</label>
                <input name="bankName" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"
                       th:value="${user.getBankName()}"/>
            </div>
            <div class="input-group m-2">
                <label class="input-group-text" style="padding: 5px; box-shadow: 3px 3px 5px #888888;">Bank account number</label>
                <input name="accountNo" class="form-control" type="text" style="box-shadow: 3px 3px 5px #888888;"
                       th:value="${user.getAccountNo()}"/>
            </div>
            <div class="input-group m-2" style="display: flex; justify-content: center; align-items: center; height: auto;">
                <button class="btn btn btn-dark text-white p-3" style="font-weight: bold; margin-top: 20px;">Save changes</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>